      - name: Build and Sign APK
        run: |
          wget https://github.com/REAndroid/APKEditor/releases/download/V1.4.1/APKEditor-1.4.1.jar -O APKEditor.jar
          # Rakit file
          java -jar APKEditor.jar b -i . -o hasil_unaligned.apk
          
          # Buat Keystore sementara untuk tanda tangan
          keytool -genkey -v -keystore debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"
          
          # Berikan tanda tangan digital (Signing)
          apksigner sign --ks debug.keystore --ks-pass pass:android --key-pass pass:android --out hasil_rakitan.apk hasil_unaligned.apk
