      - name: Build APK dari Root
        run: |
          # Pastikan menghapus sisa build lama agar tidak bentrok
          rm -f rakitan_unsigned.apk rakitan_aligned.apk hasil_final.apk
          # Kompres folder menjadi APK (Abaikan file sistem GitHub)
          zip -r rakitan_unsigned.apk . -x ".git/*" ".github/*" "debug.keystore"

      - name: ZipAlign dan Signing
        run: |
          # 1. Cek apakah file benar-benar ada sebelum di-align
          if [ ! -f rakitan_unsigned.apk ]; then echo "File APK tidak ditemukan!"; exit 1; fi
          
          # 2. Jalankan ZipAlign (Gunakan -f untuk overwrite jika ada file lama)
          zipalign -f -v 4 rakitan_unsigned.apk rakitan_aligned.apk
          
          # 3. Buat Keystore baru otomatis
          keytool -genkey -v -keystore debug.keystore -alias androiddebugkey -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US" -storepass android -keypass android
          
          # 4. Sign dengan apksigner (Gunakan nama baru: Konfirmasi Undangan)
          apksigner sign --ks debug.keystore --ks-pass pass:android --key-pass pass:android --out "Konfirmasi_Undangan.apk" rakitan_aligned.apk
