name: Rakit Konfirmasi Undangan

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kode
        uses: actions/checkout@v3

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y zipalign apksigner zip

      - name: Build APK Mentah
        run: |
          # Bersihkan sisa build sebelumnya
          rm -f unsigned.apk aligned.apk Konfirmasi_Undangan.apk
          # Bungkus folder menjadi APK, abaikan file git
          zip -r unsigned.apk . -x ".git/*" ".github/*" "debug.keystore"

      - name: Perbaikan ZipAlign (Fix Error)
        run: |
          # Optimasi struktur agar tidak "APK Rusak"
          zipalign -f -v 4 unsigned.apk aligned.apk

      - name: Signing APK (Tanda Tangan Digital)
        run: |
          # Buat kunci keamanan otomatis
          keytool -genkey -v -keystore debug.keystore -alias androiddebugkey -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US" -